In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import plotly.express as px
import os

In [2]:
path = 'H:/work_projects/College/DM_Projects/course_project_3/odis_male_csv2'
# path = '/mnt/h/work_projects/College/DM_Projects/course_project_3/odis_male_csv2'

In [3]:
curr_df = pd.read_csv('H:/work_projects/College/DM_Projects/course_project_3/odis_male_csv2/1000887_info.csv', on_bad_lines='skip')
curr_df = curr_df.reset_index(drop=True)
curr_df = curr_df.T
curr_df = curr_df.reset_index(drop=True)
curr_df.columns = curr_df.iloc[0]
curr_df.head()

,balls_per_over,team,team,gender,season,date,event,match_number,venue,city,toss_winner,toss_decision,player_of_match,umpire,umpire,reserve_umpire,tv_umpire,match_referee,winner,winner_runs
0,balls_per_over,team,team,gender,season,date,event,match_number,venue,city,toss_winner,toss_decision,player_of_match,umpire,umpire,reserve_umpire,tv_umpire,match_referee,winner,winner_runs
1,6,Australia,Pakistan,male,2016/17,2017/01/13,Pakistan in Australia ODI Series,1,"Brisbane Cricket Ground, Woolloongabba",Brisbane,Australia,bat,MS Wade,MD Martell,C Shamshuddin,SJ Nogajski,CB Gaffaney,JJ Crowe,Australia,92

In [4]:
curr_df = curr_df.drop(0)
curr_df.head()

,balls_per_over,team,team,gender,season,date,event,match_number,venue,city,toss_winner,toss_decision,player_of_match,umpire,umpire,reserve_umpire,tv_umpire,match_referee,winner,winner_runs
1,6,Australia,Pakistan,male,2016/17,2017/01/13,Pakistan in Australia ODI Series,1,"Brisbane Cricket Ground, Woolloongabba",Brisbane,Australia,bat,MS Wade,MD Martell,C Shamshuddin,SJ Nogajski,CB Gaffaney,JJ Crowe,Australia,92

In [5]:
curr_df = curr_df.drop(['gender', 'season', 'umpire', 'umpire', 'tv_umpire', 'match_referee', 'balls_per_over'], axis=1)
if('reserve_umpire' in curr_df.columns):
    curr_df = curr_df.drop('reserve_umpire', axis=1)
curr_df.head()

,team,team,date,event,match_number,venue,city,toss_winner,toss_decision,player_of_match,winner,winner_runs
1,Australia,Pakistan,2017/01/13,Pakistan in Australia ODI Series,1,"Brisbane Cricket Ground, Woolloongabba",Brisbane,Australia,bat,MS Wade,Australia,92

In [6]:
curr_df.columns = ['team_1', 'team_2', 'date', 'event', 'match_number', 'venue', 'city',
                   'toss_winner', 'toss_decision', 'player_of_match', 'winner','winner_runs']
curr_df.head()

,team_1,team_2,date,event,match_number,venue,city,toss_winner,toss_decision,player_of_match,winner,winner_runs
1,Australia,Pakistan,2017/01/13,Pakistan in Australia ODI Series,1,"Brisbane Cricket Ground, Woolloongabba",Brisbane,Australia,bat,MS Wade,Australia,92

In [7]:
df = pd.DataFrame()

In [ ]:
cols = ['team', 'date', 'event', 'match_number', 'venue', 'city', 'toss_winner', 'toss_decision', 'winner','winner_runs', 'winner_wickets']
for i in os.listdir(path):
    if 'info' in i:
        print(i)
        curr_df = pd.read_csv(path + '/' + i, on_bad_lines='skip')
        curr_df = curr_df.reset_index(drop=True)
        curr_df = curr_df.T
        curr_df = curr_df.reset_index(drop=True)
        curr_df.columns = curr_df.iloc[0]
        curr_df = curr_df.drop(0)
        if 'outcome' in curr_df.columns:
                continue
        for columns in curr_df.columns:
            if columns not in cols:
                try:
                    curr_df = curr_df.drop(columns, axis=1)
                except KeyError:
                    print(i, columns)
        temp = set(cols).symmetric_difference(curr_df.columns)
        diff = list(temp)
        if diff:
            for missing_cols in diff:
                curr_df.insert(loc = cols.index(missing_cols), column = missing_cols, value = '')
        print(curr_df.columns)
        curr_df.columns = ['team_1', 'team_2', 'date', 'event', 'match_number', 'venue', 'city',
                    'toss_winner', 'toss_decision', 'winner','winner_runs', 'winner_wickets']
        pd.concat([curr_df, df])

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.columns